{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FCFS Algorithm Results</title>
    <!-- اضافه کردن Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- لینک به فایل CSS سفارشی -->
    <link href="{% static 'css/fcfs.css' %}" rel="stylesheet">
</head>
<body>
<div class="result-container text-center">
    <h1 class="mb-4">First Come, First Served (FCFS) Algorithm Results</h1>

    {% if error %}
    <p class="text-center text-danger">{{ error }}</p>
    {% else %}
    <div class="table-wrapper">
        <table class="table table-bordered table-light table-hover">
            <thead>
                <tr>
                    <th>Process Name</th>
                    <th>Completion Time</th>
                    <th>Turnaround Time</th>
                    <th>Waiting Time</th>
                </tr>
            </thead>
            <tbody>
                {% for process in result %}
                <tr>
                    <td>{{ process.process_name }}</td>
                    <td>{{ process.completion_time }}</td>
                    <td>{{ process.turnaround_time }}</td>
                    <td>{{ process.waiting_time }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

    <div class="mt-4">
        <a href="{% url 'home:home' %}" class="btn btn-custom">Back to Home</a>
    </div>
</div>
</body>
</html>
